#navbar{
    width: 100%;
    height: 3rem;
    background-color:#8f36ca;
    color: rgb(243, 245, 248);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    Button{
        background-color:#8f36ca;
        font-size: medium;
    }
    .empty{
        width: calc(100% - 470px);
    }
    .home{
        font-weight: bold;
        font-size: large;
        justify-self: flex-start;
    }
}